In [9]:
import pandas as pd
import os
import glob
import warnings
warnings.simplefilter("ignore")

In [10]:
path = "data/vendor/Libertee/AMZ 1"
files = glob.glob(os.path.join(path, "*.xlsx"))
data=pd.DataFrame()
for f in files:
    df= pd.read_excel(f)
    data=pd.concat([data,df])
data.shape

(1065, 21)

(1065, 21)

,OrderName,ShippingMethod,Quantity,ProductName,VariantCode,SKU,FrontDesign,BackDesign,EngraveDesign,Basecost,...,ShippingAddress1,ShippingAddress2,ShippingCity,ShippingZip,ShippingProvince,ShippingCountry,ShippingPhone,Gift Message,Note,15
0,112-9656025-9867448,Standard,1.0,112-9656025-9867448,M-TU-20Z,113-0253270-8329064-19300974045610-0,https://drive.google.com/file/d/1cUQmQZCdh5k21...,NaN,NaN,16.0,...,118 POST AVE APT 4A,NaN,NEW YORK,10034-3445,NY,US,+1 929-436-4790 ext. 70650,NaN,NaN,NaN
1,113-0253270-8329064,Standard,1.0,113-0253270-8329064,M-TU-2T1,113-0253270-8329064-19300974045610-0,https://drive.google.com/file/d/1J1Sj50Dj6KDhj...,NaN,NaN,17.0,...,2506 Walsh Ct.,NaN,Hephzibah,30815,GA,US,+1 619-854-2705 ext. 82148,NaN,NaN,NaN
0,114-2663206-4713848,standard,1.0,Memorial Pet Loss Frame,W-MP-F01,114-2663206-4713848,https://drive.google.com/file/d/1U9nbi5VSu8lIt...,NaN,NaN,15.0,...,400 W PEACHTREE ST NW UNIT 1807,NaN,MILTON,30308-3550,GA,US,NaN,NaN,NaN,NaN
1,113-8517867-6836249,standard,1.0,Memorial Pet Loss Frame,W-MP-F01,113-8517867-6836249,https://drive.google.com/file/d/1drTTvWNVNJDAQ...,NaN,NaN,15.0,...,6985 HARVEST WAY,NaN,ATLANTA,32570-3296,FL,US,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN