In [23]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)
%load_ext nb_black

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [24]:
df=pd.read_csv('../data/vendor/ShineOn/AMZ2-Shineon.csv')

In [25]:
df.head(n=5)

,Order,Status,Store Order ID,Line Item ID,Order Created,Store Name,Order Number,Product,Variant,Quantity,Line Item Cost,Line Item Shipping Cost,Line Item Sale,Est. Line Item Shipping,Tracking Number,Customer Email,First Name,Last Name,Address1,Address2,City,Province,Zip,Country,Invoice Number,Invoiced,Payment
0,SHINE-1939137,cancelled,4256795623587,1.082211e+13,12/08/2021,Family Clothing,12234,Test FF SO *Refunded *Buyer cancelled order,Luxury Necklace (.316 Surgical Steel) / Yes,0,0.00,3.22,0.00,0.0,NaN,NaN,Shawn,Balinas,23 Farview St,NaN,Carbondale,PA,1w,US,Not Paid,NaN,Unpaid
1,SHINE-1977280,shipped,4261198364835,1.083026e+13,12/11/2021,Family Clothing,12350,113-0362339-1304247-12337105118282-0,Luxury Necklace (.316 Surgical Steel) / Yes,1,9.60,5.17,64.95,0.0,9400111202555050509204,NaN,Maggie,Chamorro,4220 1ST AVE N,NaN,SAINT PETERSBURG,FL,33713-8204,US,INV-339934,12/13/2021,Paypal
2,SHINE-1977280,shipped,4261198364835,NaN,12/11/2021,Family Clothing,12350,Engraving,NaN,1,5.00,0.00,0.00,0.0,NaN,NaN,Maggie,Chamorro,4220 1ST AVE N,NaN,SAINT PETERSBURG,FL,33713-8204,US,INV-339934,12/13/2021,Paypal
3,SHINE-1977280,shipped,4261198364835,NaN,12/11/2021,Family Clothing,12350,Personalization Fee,NaN,1,2.75,0.00,0.00,0.0,NaN,NaN,Maggie,Chamorro,4220 1ST AVE N,NaN,SAINT PETERSBURG,FL,33713-8204,US,INV-339934,12/13/2021,Paypal
4,SHINE-1978201,cancelled,4261325340835,1.083048e+13,12/11/2021,Family Clothing,12355,113-0362339-1304247-12337105118282-0 *Refunded...,Luxury Necklace (Silver) / Yes,0,0.00,3.22,0.00,0.0,NaN,NaN,Maggie,Chamorro,4220 1ST AVE N,NaN,SAINT PETERSBURG,FL,33713-8204,US,Not Paid,NaN,Unpaid

In [33]:
df.columns.values
df.shape
df['Order'].value_counts()
id="SHINE-2147121"
df[df['Order']==id]
df.drop_duplicates(subset=['Order','Line Item Cost'], keep='first', inplace=True)
data=df['Order'].value_counts()==1
temp=data[data==True]
order=df[df['Order'].isin(temp.index)]
order.to_csv('../data/ok/shineon.csv', index=False)
temp2=data[data==False]
order2=df[df['Order'].isin(temp2.index)]
order2.to_csv('../data/report/shineon-wrong-basecost.csv', index=False)
# order=burgerPrint["ORDER"].value_counts()==1
# temp=order[order==True]
# temp.shape
# burgerPrint=burgerPrint[burgerPrint['ORDER'].isin(temp.index)]
# burgerPrint.to_csv("../data/ok/burgerPrint.csv",index=False)

array(['Order', 'Status', 'Store Order ID', 'Line Item ID',
       'Order Created', 'Store Name', 'Order Number', 'Product',
       'Variant', 'Quantity', 'Line Item Cost', 'Line Item Shipping Cost',
       'Line Item Sale', 'Est. Line Item Shipping', 'Tracking Number',
       'Customer Email', 'First Name', 'Last Name', 'Address1',
       'Address2', 'City', 'Province', 'Zip', 'Country', 'Invoice Number',
       'Invoiced', 'Payment'], dtype=object)

(248, 27)

SHINE-1977280    3
SHINE-2147121    3
SHINE-2032965    3
SHINE-2032988    3
SHINE-2100499    2
SHINE-2121200    2
SHINE-2192094    2
SHINE-2099020    2
SHINE-2098452    2
SHINE-2177464    2
SHINE-2020161    2
SHINE-2003232    2
SHINE-2216661    1
SHINE-2225342    1
SHINE-2216663    1
SHINE-2219245    1
SHINE-2215353    1
SHINE-2219300    1
SHINE-2223374    1
SHINE-2223965    1
SHINE-2225371    1
SHINE-2216662    1
SHINE-2231394    1
SHINE-2227559    1
SHINE-2231375    1
SHINE-2212313    1
SHINE-2231307    1
SHINE-2234889    1
SHINE-2238231    1
SHINE-2238232    1
SHINE-2239701    1
SHINE-2243099    1
SHINE-2243086    1
SHINE-2248444    1
SHINE-2250249    1
SHINE-2215374    1
SHINE-1939137    1
SHINE-2212322    1
SHINE-2212333    1
SHINE-2191514    1
SHINE-2191575    1
SHINE-2191574    1
SHINE-2191556    1
SHINE-2191550    1
SHINE-2193594    1
SHINE-2193588    1
SHINE-2193642    1
SHINE-2193563    1
SHINE-2193649    1
SHINE-2193573    1
SHINE-2196516    1
SHINE-2196522    1
SHINE-2196517    1
SHINE-2196679    1
SHINE-2203508    1
SHINE-2203475    1
SHINE-2204855    1
SHINE-2206403    1
SHINE-2207973    1
SHINE-2207995    1
SHINE-2212280    1
SHINE-2261394    1
SHINE-2212329    1
SHINE-2212281    1
SHINE-2256735    1
SHINE-2275657    1
SHINE-2266443    1
SHINE-2379309    1
SHINE-2364894    1
SHINE-2364860    1
SHINE-2366000    1
SHINE-2366883    1
SHINE-2368746    1
SHINE-2368717    1
SHINE-2369654    1
SHINE-2371720    1
SHINE-2371966    1
SHINE-2378322    1
SHINE-2378323    1
SHINE-2383395    1
SHINE-2364898    1
SHINE-2383438    1
SHINE-2385525    1
SHINE-2387307    1
SHINE-2390889    1
SHINE-2392004    1
SHINE-2396600    1
SHINE-2397649    1
SHINE-2397589    1
SHINE-2397599    1
SHINE-2400127    1
SHINE-2400128    1
SHINE-2364908    1
SHINE-2364927    1
SHINE-2266458    1
SHINE-2303558    1
SHINE-2266433    1
SHINE-2268269    1
SHINE-2191529    1
SHINE-2281096    1
SHINE-2281102    1
SHINE-2281093    1
SHINE-2281114    1
SHINE-2281074    1
SHINE-2284397    1
SHINE-2284350    1
SHINE-2290999    1
SHINE-2303557    1
SHINE-2364925    1
SHINE-2310119    1
SHINE-2313736    1
SHINE-2315938    1
SHINE-2326410    1
SHINE-2340802    1
SHINE-2340796    1
SHINE-2354599    1
SHINE-2357775    1
SHINE-2357710    1
SHINE-2360331    1
SHINE-2362518    1
SHINE-2191552    1
SHINE-2187833    1
SHINE-2191539    1
SHINE-2126124    1
SHINE-2109633    1
SHINE-2116628    1
SHINE-2116629    1
SHINE-2118507    1
SHINE-2118446    1
SHINE-2118517    1
SHINE-2118472    1
SHINE-2126025    1
SHINE-2126078    1
SHINE-2126045    1
SHINE-2125980    1
SHINE-2127097    1
SHINE-2105527    1
SHINE-2129134    1
SHINE-2129079    1
SHINE-2129213    1
SHINE-2129105    1
SHINE-2151492    1
SHINE-2151493    1
SHINE-2171829    1
SHINE-2171783    1
SHINE-2177348    1
SHINE-2177440    1
SHINE-2177376    1
SHINE-2105631    1
SHINE-2105541    1
SHINE-2187813    1
SHINE-2095314    1
SHINE-1978201    1
SHINE-2032369    1
SHINE-2043294    1
SHINE-2093082    1
SHINE-2094674    1
SHINE-2095322    1
SHINE-2095334    1
SHINE-2095319    1
SHINE-2095303    1
SHINE-2095316    1
SHINE-2095309    1
SHINE-2095325    1
SHINE-2103802    1
SHINE-2095297    1
SHINE-2096198    1
SHINE-2099011    1
SHINE-2099012    1
SHINE-2099013    1
SHINE-2099014    1
SHINE-2099015    1
SHINE-2099016    1
SHINE-2099017    1
SHINE-2099018    1
SHINE-2099019    1
SHINE-2177356    1
SHINE-2177392    1
SHINE-2177360    1
SHINE-2183406    1
SHINE-2183341    1
SHINE-2183306    1
SHINE-2183309    1
SHINE-2183351    1
SHINE-2183308    1
SHINE-2183336    1
SHINE-2183411    1
SHINE-2183304    1
SHINE-2183346    1
SHINE-2183305    1
SHINE-2183339    1
SHINE-2183313    1
SHINE-2177332    1
SHINE-2183343    1
SHINE-2185302    1
SHINE-2185317    1
SHINE-2186304    1
SHINE-2187832    1
SHINE-2187808    1
SHINE-2187860    1
SHINE-2187861    1
SHINE-2187809    1
SHINE-2187831    1
SHINE-2187811    1
SHINE-2183342    1
SHINE-2183333    1
SHINE-2183410    1
SHINE-2183337    1
SHINE-2177473    1
SHINE-2177459    1
SHINE-2177471    1
SHINE-2177367    1
SHINE-2177466    1
SHINE-2177413    1
SHINE-2177467    1
SHINE-2177389    1
SHINE-2177468    1
SHINE-2177404    1
SHINE-2177311    1
SHINE-2177402    1
SHINE-2177383    1
SHINE-2177477    1
SHINE-2177441    1
SHINE-2177479    1
SHINE-2177318    1
SHINE-2177396    1
SHINE-2177324    1
SHINE-2177458    1
SHINE-2177475    1
SHINE-2183334    1
SHINE-2183303    1
SHINE-2400994    1
Name: Order, dtype: int64

,Order,Status,Store Order ID,Line Item ID,Order Created,Store Name,Order Number,Product,Variant,Quantity,Line Item Cost,Line Item Shipping Cost,Line Item Sale,Est. Line Item Shipping,Tracking Number,Customer Email,First Name,Last Name,Address1,Address2,City,Province,Zip,Country,Invoice Number,Invoiced,Payment
69,SHINE-2147121,shipped,4331992940707,1.097505e+13,02/02/2022,Family Clothing,13184,113-4329388-9210641,Luxury Necklace (.316 Surgical Steel) / Yes,1,9.60,5.17,64.95,0.0,9400111202508810293714,NaN,Stephanie,NaN,1875 McLay road,NaN,Vale,OR,97918,US,INV-372095,02/02/2022,Paypal
70,SHINE-2147121,shipped,4331992940707,NaN,02/02/2022,Family Clothing,13184,Engraving,NaN,1,5.00,0.00,0.00,0.0,NaN,NaN,Stephanie,NaN,1875 McLay road,NaN,Vale,OR,97918,US,INV-372095,02/02/2022,Paypal
71,SHINE-2147121,shipped,4331992940707,NaN,02/02/2022,Family Clothing,13184,Personalization Fee,NaN,1,2.75,0.00,0.00,0.0,NaN,NaN,Stephanie,NaN,1875 McLay road,NaN,Vale,OR,97918,US,INV-372095,02/02/2022,Paypal